Menu : menu should indicate the user is on 
Womens : its no long 
Mositures : Like collection (missing breadcrumbs)
Button : Add hover effect and button size too big
Add to Bag : on click , cart drawer is opening
Footer: add in cols and do grouping
Skin in menu : on lclik
Breadcrumbs : missing 
Collection : title missing and on click , current collection should be highlighted
BYOU : products cards (layout is different and in homepage layout is different) , font line height very less and add margin for title , from left for title
Use better fonts : 
Contact form : make it 2 cols and move form up and also add some content in the footer, add placeholders and add * for mandatory fiedls 
Product page : description , add near to add to bag and move extra information in down 
Recommended products : slider not workin 
Account login : there is no google sign in 
Add hover or colors on social links 
Cart slider : looks messy,add light colors 
Menu : add submenus in dropdown
Add logo, menu and search (all in one line)
Button color : should be same as logo color
Currency : should come in 
